    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-sm-2 sidebar affix">
          <ul class="nav nav-sidebar">
            <li><a class="sidebar-option task-list active" href="#">Task List</a></li>
            <li><a class="sidebar-option contact" href="#">Enter/update contact information</a></li>
            <li><a class="sidebar-option logo" href="#">Upload Logo</a></li>
            <li><a class="sidebar-option receivables" href="#">See Sponsorship Receivables</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a class="sidebar-option invoice" href="#">View Invoice/W-9 Forms</a></li>
            <li><a class="sidebar-option payment" href="#">Check Payment Status</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a class="sidebar-option swag" href="#">Ship Swag</a></li>
            <li><a class="sidebar-option event" href="#">View Event Info</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= render partial: "shared/flash_messages", flash: flash %>

          <h1 class="page-header">Dashboard</h1>


          <div id="tasklist" class="dashboard-component task-list">
            <h3>Hi <%= @user.name %>! Here's your list of available tasks.</h3>

            <ul class="list-group checked-list-box">
              <li class="list-group-item" data-checked="true">Authorize Account</li>
              <li class="list-group-item" data-checked="<%= @user.logo_valid %>">Upload Valid Logo</li>
              <li class="list-group-item" data-checked="<%= @user.primary_contact_name != nil && @user.primary_contact_email != nil && @user.primary_contact_name != '' && @user.primary_contact_email != '' %>">Update Contact Information</li>
            </ul>
          </div>

          <div id="#contactinformation" class="dashboard-component contact">
            <h3>Update Primary Contact Information</h3>
            <h4>Please make sure the information below is up to date, so we can contact you if necessary during PennApps.</h4>
            <b>This contact does not have to be the portal account holder.</b>
            <p>Modifying these fields doesn't change login credentials for the portal.</p>
            <%= bootstrap_form_for @user, url: user_path(@user) do |f| %>
            <%= f.text_field :primary_contact_name, name: 'user[primary_contact_name]' %>
            <%= f.email_field :primary_contact_email, name: 'user[primary_contact_email]' %>

            <%= f.submit "Update" %>
            <% end %>
          </div>

          <div id="#logo" class="dashboard-component logo">
            <h3>Current Logo:</h3>
            <%= image_tag @user.logo.url, class: "company-logo" %>
            <% if @user.logo_valid? %>
            <div class="alert alert-success" role="alert">
              <strong>Your logo is valid!</strong> If you've any questions, please reach out to <a href="mailto:sponsor@pennapps.com">sponsor@pennapps.com</a>.
            </div>
            <% else %>
            <div class="alert alert-danger" role="alert">
              <strong>We're determined something's not quite right with your logo.</strong> If you've uploaded your logo, make sure it's in a vectorized format! If you have any questions, contact us.
            </div>
            <% end %>

            <%= bootstrap_form_for @user, url: user_path(@user) do |f| %>
            <%= f.file_field :logo, as: :file %>
            <%= f.submit "Upload Logo" %>
            <% end %>
          </div>

          <div id="#sponsorshipreceivables" class="dashboard-component receivables" style="display: none">
            <h3>Sponsorship Receivables</h3>
            <h4>What's in your sponsorship package? You're a <b><%= @user.tier %></b> sponsor!</h4>
            <div class="list-group" id="sponsorshiptierinformation">
              <% tiers = ["Kilo", "Mega", "Giga", "Tera", "Title", "Custom"] %>
              <% tier_number = tiers.index(@user.tier) %>
              <% if tier_number > 3 %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">PennApps Co-Hosted by You</h4>
                <p class="list-group-item-text">You're our title sponsor!</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Keynote Speaker</h4>
                <p class="list-group-item-text">Address at opening ceremonies.</p>
              </a>
              <% end %>

              <% if tier_number > 2 %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Two Minute Product or API Demo</h4>
                <p class="list-group-item-text">During opening ceremonies.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Customized Lounge</h4>
                <p class="list-group-item-text">Set it up as you see fit.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Present Your Prize On Stage</h4>
                <p class="list-group-item-text">During Closing ceremonies.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Branded Meal</h4>
                <p class="list-group-item-text">Sponsored by you.</p>
              </a>
              <% end %>

              <% if tier_number > 1 %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Sponsored Side Event</h4>
                <p class="list-group-item-text">This can be anything!</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Blurb in PennApps Program</h4>
                <p class="list-group-item-text">Please send us your blurb if you haven't already.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Send Recruiters</h4>
                <p class="list-group-item-text">Station them at your table.</p>
              </a>
              <% end %>

              <% if tier_number > 0 %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Sponsor Table</h4>
                <p class="list-group-item-text">Your station during the event.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Logo on PennApps T-Shirt</h4>
                <p class="list-group-item-text">Make sure your logo's correct if you haven't already!</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Receive Hacker Resumes</h4>
                <p class="list-group-item-text">We'll send these to you before the event.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Swag Distribution</h4>
                <p class="list-group-item-text">You can distribute it at your table, or in our swag bags!</p>
              </a>
              <% end %>

              <% if tier_number == 3 %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Receive Hacker Resumes</h4>
                <p class="list-group-item-text">We'll send these to you after the event.</p>
              </a>
              <% end %>

              <% if tier_number >= 0 %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Bring Hardware</h4>
                <p class="list-group-item-text"><b>Only</b> if you're signed up to be a hardware sponsor!</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Send Mentors</h4>
                <p class="list-group-item-text">Make sure you've filled out the mentorship form!</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Distribute Recruiting Materials</h4>
                <p class="list-group-item-text">Swag is highly recommended.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Logo on PennApps Website</h4>
                <p class="list-group-item-text">Again, make sure we have your logo!</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Award Branded Prize</h4>
                <p class="list-group-item-text">Let us know what it is so we can post it and get others excited!</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Your API in the API Directory</h4>
                <p class="list-group-item-text">Let us know where we can direct hackers for documentation!</p>
              </a>
              <% end %>

              <% if tier_number == 0 %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">One Minute Product or API Demo</h4>
                <p class="list-group-item-text">During opening ceremonies.</p>
              </a>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">Swag Distribution</h4>
                <p class="list-group-item-text">Distributed in swag bags.</p>
              </a>
              <% end %>

              <% if tier_number == 5 %>
              <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">You have a custom package.</h4>
                <p class="list-group-item-text">Ask and we'll let you knwo what sponsorship benefits you have!</p>
              </a>
              <% end %>

              <% unless tier_number.between?(0, 5) %>
              <div class="alert alert-danger" role="alert">
                <strong>We can't find your sponsorship receivables.</strong> Contact us for help.
              </div>
              <% end %>
            </div>
          </div>

          <div id="#invoice" class="dashboard-component invoice" style="display: none">
            <h3>Invoice and W-9</h3>
            <% if @user.invoice_link == nil || @user.invoice_link.length == 0 %>
            <div class="alert alert-danger" role="alert">
              <strong>Your invoice isn't ready yet.</strong> We're working on it!
            </div>
            <% else %>
            <a type="button" class="col-sm-9 btn btn-lg btn-success" style="margin-bottom:10px" href="<%= @user.invoice_link %>" target="_blank">Download Invoice</a>
            <% end %>
            <a type="button" class="col-sm-9 btn btn-lg btn-success" style="margin-bottom:4px" href="https://drive.google.com/file/d/0Bz-V05dIGNG1NHVrVEljZXYwblk/view?usp=sharing" target="_blank">Download W-9</a>
          </div>

          <div id="#paymentstatus" class="dashboard-component payment">
            <h3>Payment Status</h3>
            <% if @user.payment_received? %>
            <div class="alert alert-success" role="alert">
              <strong>We've received your payment!</strong> If you've any questions, please reach out to <a href="mailto:sponsor@pennapps.com">sponsor@pennapps.com</a>.
            </div>
            <% else %>
            <div class="alert alert-danger" role="alert">
              <strong>Not Received.</strong> We haven't yet received your payment.
            </div>
            <div class="well">
              <p>If you paid by credit card, you will be charged within 3 business days. Checks are processed as they are received, and delivery times vary. If you paid by wire but have not received a confirmation, feel free to reach out to <a href="mailto:sponsor@pennapps.com">sponsor@pennapps.com</a></p>
            </div>
            <% end %>
          </div>

          <div id="#swag" class="dashboard-component swag" style="display: none">
            <h3>Shipping Swag</h3>
            <div class="col-sm-5">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  <h3 class="panel-title">Swag <b>must</b> be shipped to:</h3>
                </div>
                <div class="panel-body">
                 <p>PennApps c/o Kilian Feeney</p>
                 <p>Penn Engineering</p>
                 <p>3330 Walnut Street</p>
                 <p>Philadelphia, PA 19104</p>
                 <p>1-215-898-5598</p>
               </div>
             </div>
           </div>
         </div>

         <div id="#eventinfo" class="dashboard-component event">
          <h3>Event Information</h3>
          <br>
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Address</h3>
              </div>
              <div class="panel-body">
               <p>Penn Engineering</p>
               <p>Towne Building</p>
               <p>220 S 33rd St</p>
               <p>Philadelphia, PA 19104</p>
             </div>
           </div>
         </div>
         <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Dates and Times</h3>
            </div>
            <div class="panel-body">
              <i>All times are EST.</i>
              <br>
              <b>Hacking Starts:</b><p> January 22, 8:00 pm</p>
              <b>Hacking Ends:</b><p> January 24, 9:00 am</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Resources</h3>
            </div>
            <div class="panel-body">
              <b><a href="//pennapps.com">PennApps Website</a></b>
              <br>
              <b><a href="//pennapps-xiii.devpost.com/">PennApps DevPost</a></b>
            </div>
          </div>
        </div>
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="400px" src="https://maps.google.com/maps?hl=en&q=Penn Engineering&ie=UTF8&t=roadmap&z=13&iwloc=B&output=embed"></iframe>
      </div>
    </div>
  </div>
</div>
</div>