<% provide(:title, "Edit user") %>

<div class="container">
  <h1 class="page-header">Update Your Profile Settings</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= bootstrap_form_for(@user) do |f| %>
      <%= render partial: "shared/flash_messages", flash: flash %>
      
      <%= f.text_field :name, class: 'form-control' %>

      <h4>Change Email Address</h4>
      <%= f.email_field :email, class: 'form-control' %>

      <h4>Change Password</h4>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>